*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
body, html {
    height: 100%;
}

header {
    background-color: rgb(228, 214, 27);
    padding: 10px;
}

main {
    display: flex;
    height: 100%;
}

.sidebar {
    flex: 0 0 250px; /* Largura fixa da Sidebar */
    background-color: rgb(165, 155, 10); /* Cor para a Sidebar */
    padding: 10px;
}

.content {
    flex: 1; /* Ocupa todo o espaço restante */
    background-color:  rgb(252, 207, 6); /* Cor para o Content */
    padding: 10px;
}





























/* .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #3498db;
    float: left;
}

.header {
    width: calc(100% - 250px);
    height: 50px;
    background-color: #2ecc71;
    float: right;
}

.content {
    width: calc(100% - 250px);
    height: calc(100vh - 50px);
    background-color: #e74c3c;
    float: right;
} */


